<h1>Radio list</h1>
<pre>
    enum :
      DOG = 'ANIMAL.DOG',
      CAT = 'ANIMAL.CAT',
      BIRD = 'ANIMAL.BIRD'
</pre>
<h2>Template driven</h2>
<form name="templateForm">
  <label>
    Radio list Enum
    <select [(ngModel)]="select1Enum" name="select1Enum" required>
      <option *ngFor="let element of enum | mvIterator" [value]="element.key">{{ element.value | translate }}</option>
    </select>
  </label>
  <p>model value : {{ select1Enum | json }}</p>
  <label>
    Radio list Observable
    <select [(ngModel)]="select1Observable" name="select1Observable" required>
      <option *ngFor="let element of observable | mvIterator" [value]="element">{{ element | translate }}</option>
    </select>
  </label>
  <p>model value : {{ select1Observable | json }}</p>
  <label>
    Radio list Array
    <select [(ngModel)]="select1Array" name="select1Array" required>
      <option *ngFor="let element of array" [value]="element">{{ element | translate }}</option>
    </select>
  </label>
  <p>model value : {{ select1Array | json }}</p>
  <p>Errors : </p>
  <p *mvErrorDisplay="let error">{{ error | translate }}</p>
</form>
<h2>Model driven</h2>
<form [formGroup]="form">
  <label>
    Radio list Enum (pipe mvIterator)
    <select formControlName="select2Enum">
      <option *ngFor="let element of enum | mvIterator" [value]="element.key">{{ element.value | translate }}</option>
    </select>
  </label>
  <p>model value : {{ form.get('select2Enum').value | json }}</p>
  <p>Errors : </p>
  <p *mvErrorDisplay="'select2Enum'; let error">{{ error | translate }}</p>
  <label>
    Radio list Observable (pipe mvIterator)
    <select formControlName="select2Observable">
      <option *ngFor="let element of observable | mvIterator" [value]="element">{{ element | translate }}</option>
    </select>
  </label>
  <p>model value : {{ form.get('select2Observable').value | json }}</p>
  <p>Errors : </p>
  <p *mvErrorDisplay="'select2Observable'; let error">{{ error | translate }}</p>
  <label>
    Radio list Array (no pipes)
    <select formControlName="select2Array">
      <option *ngFor="let element of array" [value]="element">{{ element | translate }}</option>
    </select>
  </label>
  <p>model value : {{ form.get('select2Array').value | json }}</p>
  <p>Errors : </p>
  <p *mvErrorDisplay="'select2Array'; let error">{{ error | translate }}</p>
</form>
